/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 21, 2023, 1:38:17 PM
    Author     : Marc-Henry Moise Jr
*/

:root {
  --color-primary:#C6BFBE;
  --color-white: #e9e9e9;
  --color-black: #C27E79;
  --color-black-1: #212b38;
  --global-body-font: 'Alkatra', cursive,verdana,sans-serif;
}

body {
   font-family: var(--global-body-font);
     background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6)),
    url(Images/Nail.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
   background-color:#C27E79;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  color: var(--color-white);
  font-size: 30px;
}
.logo span {
  color: var(--color-#e9e9e9);
}
.menu-bar {
  background-color: var(--color-black);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  position: relative;
}
.menu-bar ul {
  list-style: none;
  display: flex;
}
.menu-bar ul li {
  /* width: 120px; */
  padding: 10px 30px;
  /* text-align: center; */
  position: relative;
}
.menu-bar ul li a {
  font-size: 20px;
  color: var(--color-white);
  text-decoration: none;
  transition: all 0.3s;
}
.menu-bar ul li a:hover {
  color: var(--color-primary);
}
.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}
/* dropdown menu style */
.dropdown-menu {
  display: none;
}
.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--color-black);
}
.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}
.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 10px;
}
.dropdown-menu-1 {
  display: none;
}
.dropdown-menu ul li:hover .dropdown-menu-1 {
  display: block;
  position: absolute;
  left: 150px;
  top: 0;
  background-color: var(--color-black);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


* {
    /* Change your font family */
    font-family: 'Alkatra', cursive,verdana,sans-serif;
}


.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color:  #C27E79;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}
.content-table td {
    background-color: #FFFFFF;
}
.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #FFFFFF;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.btn {
    color: #eee;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    background-color:  #C27E79;
    padding: 8px 10px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: all 0.2s ease;
    font-family: 'Alkatra', cursive,verdana,sans-serif;
}


